body {margin:0;padding:0;color:#000;background: #fff;}
.body-login {background:#456;}


#login-page {
	width: 400px;
    margin: 80px auto 0;
    font-size: 16px;
}
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #ebebeb;
}
.login-header {
    background: #28d;
    padding: 20px 20px 30px 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
	margin:0 0 -25px 0;
}
#login{
	background: #ebebeb;
    padding: 20px;
    
}
.icon-login {
	font-size:30px;
	color:#999;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
}

#login input {
	background: #fff;
    border-color: #bbb;
    color: #555;
	box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: Arial;
    font-size: 0.95em;
}
#login input[type="text"], #login input[type="password"] {
    margin-bottom:20px;
	padding-right:45px;
}
#login p {
    padding:0;
	margin:0;
}
#login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background: #17c;
}


.main-header {
    top: 0;
    right: 0;
    left: 0;
    background-color: #28d;
	position: fixed;
	max-height: 50px;
	z-index: 1030;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 3px rgba(0, 0, 0, 0.15);
 
}
.main-header .logo {
    color: #fff;
	display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
}

.main-header .navbar-custom-menu {
    float: right;
	margin: 0 16px 0 0;
}

.main-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.main-header li a, .dropbtn {
    display: inline-block;
    color: #fff;
    text-align: center;
	line-height: 50px;
    padding: 0 16px;
    text-decoration: none;
}

.main-header li a:hover {
    background-color: #17c;
}

.main-header li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	margin:0 0 0 -81px !important;
	color:#333;
}

.dropdown-content a {
    color: #333 !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #fff;
	width:150px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    text-align: left !important;
}
.dropdown-content a:hover {background-color: #f1f1f1 !important}
.show {display:block;}



.main-sidebar {
	    background: #222d32;
		position: fixed;
		top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #28d;
}
.sidebar-menu>li>a {
    border-left: 3px solid transparent;
    margin-right: 1px;
	padding: 20px 5px 20px 20px;
    display: block;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar a:hover {
    color: #fff;
    background: #1e282c;
    border-left-color: #28d;
}
.sidebar-menu .fa , .main-header .fa{
    width: 20px;
}





.content-wrapper {
min-height: 100%;
    background-color: #fff;
    z-index: 800;
	margin:50px 0 0 230px;
	    padding: 20px;
}

.content {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	padding:15px;
	color:#555;
}
.content-post {
	margin:25px 0 0 0;
}
.content>h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.alert-info {
    border-color: #bce8f1;
	background-color: #d9edf7;
	border-radius: 3px;
	border: 1px solid transparent;
	padding: 15px;
	color: #31708f;
	margin:20px 0;
}
.alert-danger {
    border-color: #d9534f;
	background-color: #d9534f;
	border-radius: 3px;
	border: 1px solid transparent;
	padding: 15px;
	color: #fff;
	margin:10px 0;
}



.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box>.inner {
    padding: 30px 10px;
}
.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}

.col-xs-3 {
    width: 32.3%;
	float:left;
}

.btn-primary {
    background: #00a65a;
    border:1px solid #006b3a;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
.btn-social {
    position: relative;
    padding-left: 44px !important;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social *:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    font-size: 1em !important;
    left: 0;
    line-height: 32px !important;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px !important;
}
.pull-right {
    float: right!important;
}

.edit {
	background:#efb73e;
	border:1px solid #d69405;
	padding:5px 10px;
	border-radius: 3px;
	color:#fff;
	line-height: 1.5;
	font-size:14px;
}

.hapus {
	background:#df382c;
	border:1px solid #d73925;
	line-height: 1.5;
	padding:5px 10px;
	border-radius: 3px;
	color:#fff;
	font-size:14px;
}

.form-add td{
	text-align:right;
	padding:8px;
}

.td-bulan {
	border:none;
	background:#fff;
	text-align:right;
	font-size:15px !important;
}

.td-nilai {
	border:none;
	background:transparent;
	text-align:right;
	font-size:15px !important;
}

.form-input-bulan {
	width:400px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.form-input-angka {
	
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.form-input-random {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
color: #555;
width:100%;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 6px 12px;
	margin:5px 10px;
	
    border: 1px solid #ccc;
}

.form-input {
	width:500px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 6px 12px;
margin:10px 0;
    border: 1px solid #ccc;
	}
.btn-simpan {
	font-size: 15px;
	background: #00a65a;
    border:1px solid #006b3a;
	border-radius: 3px;
	padding: 6px 12px;
	color:#fff;
	cursor: pointer;
	display: inline-block;
}

.btn-batal {
	font-size: 15px;
	background: #efb73e;
    border:1px solid #d69405;
	border-radius: 3px;
	padding: 6px 12px;
	color:#fff;
	cursor: pointer;
	display: inline-block;
	font-weight:normal;
}
.btn-simpan:hover, .btn-primary:hover {
	background:#006b3a;
}
.btn-batal:hover , .edit:hover {
	background:#d69405;
}
.hapus:hover {
	background:#cd2b17;
}

.select-option {
	float:right;
	margin-left:10px;
}

.select-option select {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.tabel {margin:30px 0;}

.tabel-produk {width:100%;}

th {
	text-align:left;
}

.tabel-produk tr:nth-child(even) {
    background: #f9f9f9;
}

.tabel-produk .td-tabel-produk, .tabel-produk .th-tabel-produk {
    border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}


.th-tabel-produk{
	text-align:center;
	padding:10px 0;
	background-color:#28d;
	color:#fff;
	font-family:Helvetica;
	font-size:14px;
}
.td-tabel-produk{
	padding:15px;
	font-size:14px;
		
}


a {text-decoration: none;}

.container {
                width: 400px;
				
				float:left;
                
            }



